.btn-floating:hover {
    background-color: lighten($secondary-txt-color, 5%);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
h1 {
    margin: 0;
}
nav {
    background-color: #e66053;
}
#nav-mobile {
    text-transform: uppercase;
}

.pulse {
    margin: 0 auto;
}

.row .col {
    padding: 0;
    //margin-right: 10px;
    //max-width: 300px;
}

.blue-grey {

    &:hover {
        background-color: lighten(#607d8b, 5%) !important;
    }
}

